.Gallery {
	.process {
		width: 1180px;
		margin-top: 200px;
		margin: 0 auto;
		position: relative;
		margin-bottom: 50px;

		h2 {
			padding: 0px 0px 10px 0px;
			width: 100%;
			border-bottom: 4px solid;
			color: #333;
			font: bold 36px/1.4 'poppins';
		}
	}

	.txt {
		p {
			margin-bottom: 80px;
			font: 16px/1.4 'poppins';
			letter-spacing: 1px;
			text-align: right;
			padding: 0px 0px 0px 680px;
		}
	}
	.loading {
		position: absolute;
		top: 400px;
		left: 50%;
		width: 100px;
		height: 100px;
		transform: translateX(-50%);
	}

	.box {
		overflow: hidden;
		margin-bottom: 30px;
		.btn {
			position: relative;
			float: left;

			button {
				font: bold 14px/1.2 'poppins';
				background: #dadada;
				color: #2c89bb;
				border-radius: 10px;
				border: none;
				width: 150px;
				height: 30px;
				margin: 0 auto;
				margin: 0px 30px 30px 0px;
				cursor: pointer;
				box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
				&:hover {
					box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1) inset;
				}
			}
		}

		.searchBox {
			float: right;
			text-align: right;
			width: 500px;

			input[type='text'],
			textarea {
				width: 50%;
				border: none;
				border-bottom: 1px solid #aaa;
				padding-bottom: 5px;
				margin-right: 10px;
				font: normal 12px/1.2 'poppin';
			}

			button {
				background: #fff;
				font: bold 16px/1.4 'poppins';
				color: #2c89bb;
				border: none;
				cursor: pointer;
			}
		}
	}
	.frame {
		transition: transform 0.5s, opacity 0.5s;
		transform: translateY(200px);
		opacity: 0;

		&.on {
			transform: translateY(0px);
			opacity: 1;
		}

		&::after {
			content: '';
			display: block;
			clear: both;
		}

		article {
			width: 25%;
			padding: 10px;
			float: left;

			.inner {
				width: 100%;
				padding: 10px;
				background: #fff;
				box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);

				.pic {
					width: 100%;
					margin-bottom: 5px;

					img {
						width: 100%;
					}
				}

				h2 {
					font: bold 14px/1.2 'poppins';
					color: #777;
					margin-bottom: 20px;
				}
				.profile {
					display: flex;
					align-items: center;

					img {
						width: 30px;
						border-radius: 50%;
						margin-right: 10px;
					}
					span {
						color: #888;
						cursor: pointer;
						transition: 0.5s;
						font: 12px 'poppins';

						&:hover {
							color: #2c89bb;
						}
					}
				}
			}
		}
	}
}
