.Youtube {
	.process1 {
		width: 1180px;
		margin-top: 200px;
		margin: 0 auto;
		position: relative;

		h2 {
			padding: 0px 0px 10px 0px;
			width: 100%;
			border-bottom: 4px solid #222;
			color: #222;
			font: bold 36px/1.4 'poppins';
			margin-bottom: 50px;
		}
	}

	.process2 {
		margin-bottom: 50px;
		font: 16px/1.4 'poppins';
		letter-spacing: 1px;
		width: 1180px;
		padding: 0px 0px 0px 680px;
	}

	.process3 {
		margin-bottom: 100px;
		img {
			width: 1180px;
			height: 350px;
			object-fit: cover;
			filter: saturate(30%);
		}
	}

	article {
		width: 1180px;
		margin-top: 80px;
		padding: 10px 10px 10px 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		&:hover {
			background: #dadada;
		}

		.pic {
			width: 45%;
			height: 300px;
			background: #ffe33d;
			filter: saturate(30%);
			transition: 0.5s;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			&:hover {
				filter: opacity(100%);
				box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
			}
		}

		.txt {
			width: 50%;
			height: 300px;
			display: flex;
			flex-wrap: wrap;
			padding: 20px 20px 0px 20px;
			// box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

			// &:hover {
			// 	border-left: 0px solid #121212;
			// 	border-top: 0px solid #121212;
			// 	border-right: 5px solid #121212;
			// 	border-bottom: 5px solid #121212;
			// }

			h3 {
				font: bold 28px/1.4 'poppins';
				color: #2c89bb;
				letter-spacing: 1px;
				text-decoration: underline #ffe33d;
			}

			p {
				font: normal 14px/1.4 'poppins';
				color: #555;
				letter-spacing: 1px;
			}

			span {
				font: bold 10px/1.4 'poppins';
				color: #dadada;
			}
		}
	}
}
